@use "../src/styles/partials/mixins" as *;

.input-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;

  &__title {
    margin-bottom: 24px;
    text-align: center;
    color: rgb(163, 52, 250);
    opacity: 0;
    position: relative;
    animation: flyIn 4s ease-out forwards;

    @keyframes flyIn {
      from {
        transform: translateX(-100);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
    @include tablet {
      margin-bottom: 32px;
    }

    @include desktop {
      margin-bottom: 40px;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 19px;
    width: 100%;
    max-width: 200px;

    @include tablet {
      max-width: 500px;
      gap: 21px;
    }

    @include desktop {
      max-width: 600px;
      gap: 25px;
    }

    label {
      display: flex;
      flex-direction: column;
      gap: 8px;

      select {
        padding: 8px;
        border-radius: 4px;

        @include tablet {
          padding: 10px;
        }

        @include desktop {
          padding: 12px;
        }
      }
    }
  }

  button {
    margin-top: 16px;
    padding: 10px;
    width: 100%;
    border-radius: 4px;
    font-family: Roboto;
    font-weight: 600;
    font-size: 0.9375rem;
    color: white;
    background: linear-gradient(90deg, #5a5bff, #ff5da2);
    @include tablet {
      width: auto;
      padding: 12px 20px;
    }

    @include desktop {
      padding: 14px 24px;
    }
  }
}
