@use "../src/styles/partials/mixins" as *;
.output-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;

  h1 {
    margin-bottom: 16px;
    text-align: center;
    color: rgb(163, 52, 250);
    opacity: 0;
    position: relative;
    animation: flyIn 4s ease-out forwards;
    @keyframes flyIn {
      from {
        transform: translateX(-100);
        opacity: 0;
      }
      to {
        transform: translateX(0);
        opacity: 1;
      }
    }
    @include tablet {
      margin-bottom: 24px;
    }

    @include desktop {
      margin-bottom: 32px;
    }
  }

  p {
    margin-bottom: 24px;
    text-align: center;
    max-width: 80%;
    line-height: 1.5;

    @include tablet {
      margin-bottom: 32px;
      max-width: 60%;
    }

    @include desktop {
      margin-bottom: 40px;
      max-width: 50%;
    }
  }

  .feedback-buttons {
    background-color: rgba(32, 128, 193, 0.767);
  }

  .feedback-jokebutton {
    margin-top: 1rem;
    background-color: rgba(154, 209, 251, 0.554);
    background: linear-gradient(90deg, #5a5bff, #ff5da2);
    font-family: Roboto;
    font-weight: 600;
  }

  button {
    padding: 10px;
    border-radius: 4px;
    font-size: 0.9375rem;
    @include tablet {
      padding: 10px 15px;
    }

    @include desktop {
      padding: 14px 24px;
    }
  }
}
